
<div class="card store-card">
    <div class="image-container">
        <img class="card-img-top store-card-image" src=@Image alt="Card image cap">
    </div>
    <div class="card-body">
        <h5 class="card-title">@Name</h5>
        <p class="card-text">@Address</p>
        <a href="/book/@Id" class="btn btn-primary">Book</a>
    </div>
</div>





@code {
    // Demonstrates how a parent component can supply parameters

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Address { get; set; }

    [Parameter]
    public string Image { get; set; }
}