@page "/book/{Id}"


<h1>ElMinidik</h1>

<h2>Next estimated time</h2>

<h2>Current stress level</h2>

<div class="stress-box" @bind-style="Colour" @bind-style:event="onchange"> </div>

<button class="btn btn-primary">Book this time</button>

@code {
    [Parameter]
    public string Id { get; set; }

    public int storeId;

    protected string Colour { get; set; } = "background-color:red";

    
    
    protected override void OnInitialized()
    {
        calcColor(0.5);

        if (Int32.TryParse(Id, out int j))
        {
           storeId = j;
        }
        else
        {
            storeId = 0;
        }
    }

    private void calcColor(double stress)
    {
        int red;
        int green;
        int blue;
        // 50, 168, 82
        // 255, 255, 82
        // 255, 70, 70
        if (stress <= 0.5)
        {
            red = Convert.ToInt32((1 - stress / 0.5) * 50 + (stress / 0.5) * 255);
            green = Convert.ToInt32((1 - stress / 0.5) * 168 + (stress / 0.5) * 255);
            blue = Convert.ToInt32((1 - stress / 0.5) * 82 + (stress / 0.5) * 82);
        }
        else
        {
            red = Convert.ToInt32((2 - stress / 0.5) * 255 + (-1 + stress / 0.5) * 255);
            green = Convert.ToInt32((2 - stress / 0.5) * 255 + (-1 + stress / 0.5) * 70);
            blue = Convert.ToInt32((2 - stress / 0.5) * 82 + (-1 + stress / 0.5) * 70);
        }

        Colour = $"background-color: rgb({red},{green},{blue})";
    }
}