@page "/"

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="content-container">

            <div class="inner cover">
                <div class="black-opaque">
                <h1 class="cover-heading">Welcome to <strong>QueueSafe</strong>!</h1>
                <p class="lead">QueueSafe is an application that lets you safely queue for stores while maintaining social distancing.
                    Under "Stores" you can book a time for you favorite store, and recieve a QR code that you can scan at the store when its available.
                </p>
                <p class="lead">
                    <a href="stores" class="btn btn-lg btn-default">Go to <strong>Stores</strong></a>
                </p>
                </div>
            </div>

        </div>

    </div>

</div>
