@page "/stores"

@using QueueSafe.Shared
@inject HttpClient http

<h1>Test</h1>

@if (stores != null)
{
    <div class="row">
        @foreach (StoreListDTO store in stores)
        {
            <div class="col-sm-6 mb-3">
                <Store Id=@store.Id Name=@store.Name Address=@store.Address Image=@store.Image />
            </div>
        }
    </div>
}

@code {
    private StoreListDTO[] stores;
    private int currentCount = 0;
    protected override async Task OnInitializedAsync()
    {
        stores = await http.GetFromJsonAsync<StoreListDTO[]>("store/all");
    }
}